/* font */
@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OTEnjoystoriesBA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

/* reset css */
h1,
h2,
p,
strong {
    margin: 0;
}

img {
    width: 100%;
}

button {
    font: inherit;
    cursor: pointer;
}

input {
    font: inherit;
}

/* css */
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

body {
    background-color: #5b2386;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "GmarketSansMedium", sans-serif;
    font-size: 24px;
}
/* header */
header {
    width: 100%;
    margin: 195px auto 115px;
}

header .logo {
    max-width: 430px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.logo::after {
    content: "";
    width: 260px;
    height: 260px;
    position: absolute;
    background-image: url(../img/Frame\ 12.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
}

/* main */
.form {
    width: 100%;
    text-align: center;
}

.catchphrase {
    margin: 0 auto;
    color: #f5df4d;
    font-size: 36px;
    font-weight: 700;
    font-family: "OTEnjoystoriesBA", sans-serif;
}

.txt-info {
    margin: 80px auto 100px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    position: relative;
}
.txt-explain strong {
    font-size: 24px;
    font-weight: 700;
}
.txt-explain::before {
    content: "“";
    font-size: 96px;
    color: rgba(252, 238, 33, 0.3);
    vertical-align: baseline;
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
}
.txt-explain::after {
    content: "”";
    font-size: 96px;
    color: rgba(252, 238, 33, 0.3);
    vertical-align: baseline;
    position: absolute;
    top: 50%;
    right: 200px;
    transform: translateY(-50%);
}

/* modal */
.backdrop {
    background-color: gray;
}
.modal {
    background-color: gray;
}
/* footer */

footer h2 {
    margin: 0 auto;
    text-align: center;
}

footer img {
    width: 125px;
    aspect-ratio: 125/25;
}

footer address {
    font-size: 12px;
    font-weight: 400;
    color: white;

    text-align: center;
}
